body,
html {
  margin: 0;
  padding: 0;
  background-color: #f8f8f5;
}

.contact-page {
  color: #1b4d3e;
  background-color: #f8f8f5;

  min-height: 100vh;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}
.contact-hero {
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.contact-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b4d3e;
  opacity: 0.4;
  z-index: 1;
}

.contact-hero h2,
.contact-hero p {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  color: #fff;
}

.contact-hero h2 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
  font-family: brico;
}

.contact-hero p {
  font-size: 1.1rem;
}

.contact-header {
  text-align: center;
  max-width: 700px;
  margin: 50px auto 3rem;
}

.contact-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-header p {
  color: #dcdcd2;
  font-size: 1.1rem;
}

.contact-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem 3rem 2rem;
  margin: 80px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form,
.contact-info {
  background-color: white;
  padding: 2rem;
  border-radius: 6px;
  flex: 1 1 350px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}
@font-face {
  font-family: "brico";
  src: url("../assets/Bricolage_Grotesque/static/BricolageGrotesque-Light.ttf");
}
.contact-form h3,
.contact-info h3 {
  margin-bottom: 1rem;
  color: #1b4d3e;
  text-align: center;
  font-family: brico;
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}
.contact-info p {
  margin-bottom: 10px;
}

.contactus-info h4 {
  margin-bottom: 15px;
}
.contact-us {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.contact-info li {
  margin-bottom: 0.5rem;
  color: #eaeae0;
}

.map-container iframe {
  border-radius: 8px;
  width: 100%;
}
@media (max-width: 452px) {
  .contact-hero h2 {
    font-size: 2.4;
  }
}
@media (max-width: 768px) {
  .contact-hero {
    height: 40vh;
    padding: 10px;
  }

  .contact-hero h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  .contact-page {
    background-color: aqua;
    padding-top: 20px;
  }
  .contact-hero {
    height: 35vh;
  }

  .contact-hero h2 {
    font-size: 1.8rem;
  }
}
