.feedbackcontainer {
  margin: 30px;
  /* max-width: 1100px; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}
/* left */
.feedback-form {
  padding: 40px;
  color: #1b4d3e;
}
.feedback-form h2 {
  margin-bottom: 20px;
}
.feedback-star {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
/* .star {
  color: #555;
  cursor: pointer;
  transition: 0.3s;
} */

.feedback-form textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  margin-top: 10px;
  resize: none;
}
.feedback-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #1B4D3E;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.star {
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}

.star.filled {
  color: #ffaa00;
  transform: scale(1.1);
}
.feedback-btn:hover {
  background: #0e1f1a;
}
/* ---------- RIGHT: IMAGE ---------- */
.feedback-image{
    /* background-color: aquamarine; */
    width: 500px;
}
.feedback-image img {
  width: 100%;
  /* height: 100%; */
  border-radius: 20px;
  height: 430px;
  object-fit: cover;
  animation: bounceLoop 2s ease-in-out infinite;
}
@keyframes bounceLoop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
/* responsive */
@media (max-width: 768px) {
  .feedbackcontainer{
    /* max-width: 100%; */
    margin: 10px;
      grid-template-columns: 1fr;
    background-color: #ffaa00;
  }
  .feedback-image{
    display: none;
  }
 .feedback-form{
  padding: 20px;
 }
 .feedback-btn{
  font-size: 16px;
 }
 
}