.Home-container {
  width: 100%;
  background-color: whitesmoke;
}
.Home-content {
  text-align: center;
  /* background-color: brown; */
  width: 100%;
  height: 100vh;
  background-image: url("/public/soundtrap-5Wj_tk8_Ens-unsplash.jpg");
  background-position: 0 70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 340px;
  color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gravitas+One&family=Italianno&family=Lexend+Deca:wght@100..900&family=Libertinus+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.Home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Italianno", cursive;
  font-weight: 400;
}
.Home-content p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.84);
}
/* search-area */
.search-area {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: #ff5722; */
  margin-top: 40px;
}
.search-boxes {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  /* align-items: center; */
}
/* focuse */
/* .search-box :focus {
  outline: none;
  border-color: #ff5722;
  border: 2px solid  #ff5722;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
  transition:  0.2s ease;
} */

.search-box {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 6px;
  gap: 10px;
  flex: 1;
  width: auto;
}
.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  font-family: "Italianno", cursive;
}
.search-button {
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
  align-items: stretch;
  padding: 0 24px;
}
/* search-box  location*/
.search-box select {
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.search-box select option {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 13px;
  font-size: 12px;
  color: black;
}

/*  responsive for botton */
@media (max-width: 768px) {
  .search-box {
    flex-direction: column;
    width: 90%;
  }

  .input-group {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }
}

/*  find jobs areas */
.Home-jobs-container {
  /* background-color: brown; */
  width: 98%;
  margin: auto;
  margin-top: 20px;
  /* change */
  /* height: 100vh; */
}
/*  grid area */
.Home-job-grid {
  /* background-color: turquoise; */
  display: grid;
  grid-template-columns: 350px 1fr;
  /* grid-template-rows: 900px 1fr; */
  /* gap: 25px; */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  /* min-height: 100vh; */
}
/* sidebar */
.Home-sidebar {
  padding: 20px;
  background-color: whitesmoke;
  /* height: 100vh; */
  /* position: sticky;
  top: 90px; */
}

.filter-group legend {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
}
/* fieldset */
.filter-group {
  border: 2px solid #d1cbc7;
  padding: 25px 20px;
  border-radius: 4px;
  margin-bottom: 25px;
}
/* each radio item */
.home-toggle {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 12px;
  cursor: pointer;
}
/* custom radio button */
.home-toggle input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ff5722;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background: white;
}
/* checked state - green outline + green dot inside */
.home-toggle input[type="radio"]:checked {
  border-color: #ff5722;
}
.home-toggle input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  transition: translate(-50%, -50%);
}

/* main concept */
.Home-main {
  background-color: black;
}
/* dropdoen */
.home-sorting-dropdown {
  position: relative;
  display: inline-block;
}
.home-sort-btn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  gap: 6px;
}
.home-sort-dropdown {
  position: absolute;
  top: 34px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 180px;
  display: none;
  z-index: 1000;
}
.home-sort-option{
    padding: 10px 15px;
    cursor: pointer;
}
.home-sort-dropdown .home-sort-option {
  padding: 10px 15px;
  cursor: pointer;
}
.home-sort-dropdown .home-sort-option:hover {
  background-color: #f0f0f0;
}
.home-sort-option.active {
  background-color: #ff5722;
  color: white;
  font-weight: 600;
}
.home-sorting-dropdown:hover .home-sort-dropdown {
  display: block;
}

/* responsive */
@media (max-width: 768px) {
  .page-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2; /* sidebar goes down */
  }

  .main-content {
    order: 1;
  }
}
/* Home-content */

@media (max-width: 768px) {
  .Home-content {
    padding-top: 220px;
    width: 100%;
  }
  .Home-content h1 {
    font-size: 27px;
    margin-bottom: 20px;
    /* background-color: #ff5722; */
  }
  .Home-content p {
    font-size: 14px;
    margin: 0 10px 20px 10px;
  }
  .search-area {
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
  }
  .search-button {
    padding: 10px 5px;
  }
  .search-area {
    gap: 15px;
    border-radius: 8px;
  }
  .search-boxes {
    flex-direction: column;
    width: 100%;
  }
  .search-box input {
    font-size: 14px;
  }
  .search-box {
    width: 100%;
    flex-direction: column;
  }
}
