.Home-container {
  width: 100%;
  background-color: whitesmoke;
}
.Home-content {
  text-align: center;
  /* background-color: brown; */
  width: 100%;
  height: 100vh;
  background-image: url("/public/soundtrap-5Wj_tk8_Ens-unsplash.jpg");
  background-position: 0 70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 340px;
  color: #fff;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gravitas+One&family=Italianno&family=Lexend+Deca:wght@100..900&family=Libertinus+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

.Home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Italianno", cursive;
  font-weight: 400;
}
.Home-content p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.84);
}
/* search-area */
.search-area {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: #ff5722; */
  margin-top: 40px;
}
.search-boxes {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.search-box {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 6px;
  gap: 10px;
  flex: 1;
  width: auto;
}
.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  font-family: "Italianno", cursive;
}
.search-button {
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
  align-items: stretch;
  padding: 0 24px;
}
/* search-box  location*/
.search-box select {
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: black;
}
.search-box select option {
  font-family: "Poppins", sans-serif;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 13px;
  font-size: 12px;
  color: black;
}

/*  find jobs areas */
.Home-jobs-container {
  /* background-color: brown; */
  width: 98%;
  margin: auto;
  margin-top: 20px;
  /* change */
  /* height: 100vh; */
}
/*  grid area */
.Home-job-grid {
  /* background-color: turquoise; */
  display: grid;
  grid-template-columns: 300px 1fr;
  /* grid-template-rows: 900px 1fr; */
  /* gap: 25px; */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  /* min-height: 100vh; */
}
/* sidebar */
.Home-sidebar {
  padding: 15px;
  background-color: whitesmoke;
  /* height: 100vh; */
  /* position: sticky;
  top: 90px; */
  border: 2px solid #d1cbc7;
}

.filter-group legend {
  font-size: 17px;
  font-weight: 600;
  /* margin-bottom: 10px; */
  font-family: "Dancing Script", cursive;
}
/* fieldset */
.filter-group {
  border: 2px solid #d1cbc7;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 25px;
}
/* each radio item */
.home-toggle {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 12px;
  cursor: pointer;
}
/* custom radio button */
.home-toggle input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ff5722;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background: white;
}
/* checked state - green outline + green dot inside */
.home-toggle input[type="radio"]:checked {
  border-color: #ff5722;
}
.home-toggle input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  transition: translate(-50%, -50%);
}

/* main concept */
.Home-main {
  /* background-color: black; */
  background-color: whitesmoke;
  padding: 20px;
  border: 2px solid #d1cbc7;
}
/* dropdoen */
.home-sorting-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 15px; */
}
.home-sort-btn {
  background-color: transparent;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 8px 12px; */
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  gap: 6px;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
}
.home-sort-dropdown {
  position: absolute;
  top: 34px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 180px;
  /* display: none; */
  z-index: 1000;
}
.home-sort-dropdown.show {
  display: block;
}
.home-sort-option {
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.787);
  font-family: "Italianno", cursive;
  font-weight: 500;
  font-size: 14px;
}
.home-sort-dropdown .home-sort-option {
  padding: 10px 15px;
  cursor: pointer;
}
.home-sort-btn span {
  gap: 6px;
  font-size: 13px;
  border: 2px solid #ff5722;
  border-radius: 4px;
  padding: 2px 6px;
  font-family: "Italianno", cursive;
  font-weight: 400;
}
.home-sort-dropdown .home-sort-option:hover {
  background-color: #f0f0f0;
}
.home-sort-option.active {
  color: black;
  font-family: "Italianno", cursive;
  font-weight: 600;
  font-size: 14px;
}
/*  for apply */
.home-appy-container {
  /* background-color:  blur(10px); */
  background-color: rgba(128, 128, 128, 0.953);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
/* .blurred{
  filter: blur(9px);
   pointer-events: none;    
  user-select: none; 
} */

.home-apply-ui {
  background-color: #2827277c;
  padding: 25px 30px;
  border-radius: 14px;
  width: 400px;
  max-width: 90%;
  /* display: flex; */
  color: white;
  box-shadow: rgba(226, 51, 51, 0.35) 0px 5px 15px;
}
.home-apply-ui h2 {
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "PT Serif", serif;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  color: white;
}
.home-apply-ui label {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* .home-optional{
border: none;
} */
.home-apply-ui input,
.home-apply-ui textarea {
  width: 100%;
  padding: 9px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  color: white;
}
.Home-apply-form input::placeholder {
  color: #ccc;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
.home-submit {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.home-submit-btn {
  background-color: #ff5622c5;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  border: none;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 4px;
}
.home-close {
  background-color: rgba(255, 0, 0, 0.812);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  border: none;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 4px;
}
.home-confimation {
  background-color: #ff5722;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

@media (max-width: 768px) {
  .Home-content {
    padding-top: 160px;
    width: 100%;
    background-size: 700px 620px;
  }
  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gravitas+One&family=Italianno&family=Lexend+Deca:wght@100..900&family=Libertinus+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=TikTok+Sans:opsz,wght@12..36,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
  .Home-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
  }
  .Home-content {
    z-index: 100;
    height: 700px;
  }
  .Home-content p {
    font-size: 14px;
    margin: 0 10px 20px 10px;
  }
  .search-area {
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;
  }
  .search-button {
    padding: 10px 5px;
  }
  .search-area {
    gap: 15px;
    border-radius: 8px;
  }
  .search-boxes {
    flex-direction: column;
    width: 100%;
  }
  .search-box input {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
  }
  .search-box {
    width: 100%;
  }
  .Home-job-grid {
    grid-template-columns: 1fr;
    /* background-color: #ff5722; */
    width: 100%;
  }
  .Home-sidebar {
    width: 100%;
    /* margin-bottom: 20px; */
    order: 1;
  }
  .Home-main {
    order: 2;
    /* justify-content: center; */
  }
  .home-sorting-dropdown {
    justify-content: center;
  }
  .home-sort-dropdown {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .home-sort-btn {
    font-family: "Roboto Slab", serif;
  }
  .home-sort-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
  }
  .home-sort-option{
    font-family: "Roboto Slab", serif;
    /* font-size: 15px; */
    /* background-color: #ff5722; */
  }
  .home-sort-option.active{
   font-family: "Roboto Slab", serif;
    color: rgba(0, 0, 0, 0.915);
  }
}

