.job-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
  /* min-width: 290px; */
  height: 100%;
}
.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

/* --- TEXT STYLING --- */
.job-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #222;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.job-card p {
  font-size: 14px;
  margin: 6px 0;
  color: #555;
}

/* --- APPLY BUTTON --- */
.applyJob-button{
  /* background-color: #ff5722; */
  display: flex;
  justify-content: space-between;
}
.jobs-btn {
  margin-top: auto;
  padding: 10px 18px;
  background: #ff5722;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  transition: 0.25s ease;
  align-self: flex-start;
}

.jobs-btn:hover {
  background: #c73509d1;
  transform: scale(1.05);
}

/* --- LIST LAYOUT WITH SCROLL --- */
.joblists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr; */
  gap: 20px;
  padding: 25px;
  scrollbar-width: none;
  max-height: 840px; /* Show about 4 rows */
  overflow-x: auto; /* Enable scrolling for more cards */
  padding-right: 10px; /* Prevent card cutoff */
}

.bookmark-btn{
  background-color: white;
  border: 1.8px solid white;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
/* Hover effect */
.bookmark-btn:hover {
  background: #f0f0f0;
  border-color: #bdbdbd;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
}

/* When saved (filled bookmark) */


.bookmark-btn.saved:hover {
  background: #ffd875;
}