* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  /* height: 20px; */
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
  /* background-color: turquoise; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 70px;
  padding: 0 20px;
  /* max-width: 1200px; */
}
.nav-mobile {
  width: 75%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gravitas+One&family=Italianno&family=Lexend+Deca:wght@100..900&family=Libertinus+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mozilla+Headline:wght@200..700&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
.nav-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.nav-container ul li {
  list-style: none;
}

/* nav logo */
.nav-logo {
  width: 25%;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo img {
  height: 150px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* for the mobile */
.nav-menu-mobile {
  display: none;
  cursor: pointer;
  font-size: 25px;
}

.nav-item {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
  padding: 8px 0;
}
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background: #ff5722;
  transition: width 0.3s ease;
}

.nav-item:hover {
  color: #ff5722;
}

.nav-item:hover::after {
  width: 100%;
}

.active-nav {
  color: #ff5722;
  font-weight: 600;
}

.active-nav::after {
  width: 100%;
}

@media (max-width: 768px) {
  /* makes logo */
  .nav-logo img {
    width: 120px;
  }
  .nav-mobile {
    /* filter: blur(5px); */
    pointer-events: auto;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    /* max-height: 0; */
    background-color: white;
    overflow: hidden;
    padding: 20px;
    gap: 45px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }

  .nav-mobile.active {
    display: flex;
    /* transition: filter 0.3s ease; */
  }

  .nav-menu-mobile {
    display: block;
    font-size: 30px;
  }
}
