body{
     /* padding-top: 120px; */
     scroll-padding-top: 60px;
}
/* Targets all sections */
div[id] { 
  /* min-height: 130vh; */
  /* padding: 20px; */
  border-bottom: 1px solid #ccc; 
  background-color: rgba(245, 245, 245, 0.598);
}
